body {
    background-color: rgb(225, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.name {
    font-size: 25px;
    font-weight: bold;
}

.my-showcase {
    display: grid;
    justify-content: center;
    justify-items: center;
    
}

.picture-of-me {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.further-info {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    margin: 30px 225px 30px 225px;
}

.elevator-pitch-and-papers-showcase {
    display: grid;
    margin: 0px 225px 0px 225px;
}

.elevator-pitch {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal
}

.elevator-pitch-row {
    display: grid;
    grid-template-columns: auto;
    align-items: start;
    justify-content: start;
    padding: 10px;
    margin-top: 10px;
    gap: 5px;
}

.paragraph-title {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

.papers-showcase {
    display: grid;  
    grid-template-rows: auto auto auto auto;
    row-gap: 30px;
    align-items: stretch;
    padding-bottom: 100px;
}

.papers-showcase-row {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 10px;
    align-items: start;
}

.papers-showcase-column-name {
    font-weight: bold;

}

.dropdown-button {
    cursor: pointer;
    background-color: rgb(232, 241, 248);
    border-radius: 10px;
    border-color:rgb(138, 199, 250);
    font-size: 15px;
    width: auto;
}

.dropdown-text {
    display: none;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    margin-top: 5px;
}